packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []

commands:
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'yum install -y nodejs npm --enablerepo=epel'
    02_node_update:
        cwd: /tmp
        test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
        command: 'npm install -g n && n stable'
    03_npm_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/gulp ] && echo "gulp not installed"'
        command: 'npm install gulp -g'

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_npm_install:
      test: '[ ! -f gulp ] && echo "gulp not installed"'
      command: 'npm install gulp gulp-cli node-sass gulp-sass'
  03_gulp:
    command: "gulp sass"
  04_collectstatic:
    command: "python manage.py collectstatic"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: catalyst/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: catalyst.settings