{% extends "catalyst/page.html" %}

{% block content %}
<div class="user-form">
  <div class="row">
    <div class="col-md-2">
      {% if can_view_user %}
        <a class="go-back" href="{% url 'catalyst_users' %}"><i class="fa fa-chevron-left"></i> Back to all users</a>
      {% endif %}
      <h5 class="header">User Details</h5>
    </div>
    <div class="col-md-10">
      <form method="POST">
        {% csrf_token %}
          {% for field in form %}
            <label class="field-label control-label">{{ field.label }}</label>
            {% for error in field.errors %}
              <span class="field-error"><i class="fa fa-warning"></i>{{error}}</span>
            {% endfor %}
            <div class="form-group">
              {{field}}
            </div>
        {% endfor %}
        <button type="submit" class="button">Save</button>
        {% if can_view_user %}
          <a class="button button-white" href="{% url 'catalyst_users' %}">Exit</a>        
        {% else %}
          <a class="button button-white" href="{% url 'catalyst_books' %}">Exit</a>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock content %}